.featuredProducts {
  margin: 100px 200px;
  margin-bottom: 50px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuredProducts h1 {
  flex: 2;
  text-transform: capitalize;
}

.featuredProducts p{
    flex: 3;
    color:gray
}

.bottom {
    display:flex;
    justify-content: center;
    gap: 50px;
}
