.cart {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 999;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.cart h1 {
  margin-bottom: 30px;
  color: gray;
  font-weight: 400;
  font-size: 24px;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.item img {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.details h1 {
  font-size: 18px;
  font-weight: 500;
}

.details p {
  color: gray;
  margin-bottom: 10px 0;
  font-size: 14px;
}

.price {
  color: #2879fe;
}

.delete {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.cart button {
  float: right;
  width: 150px;
  height: 34px;
  padding: 10px;
  margin-left: 30px;
  background-color: #2879fe;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  border-radius: 10px;
}

.reset {
  width: 150px;
  padding: 5px;
  background-color: #ec0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  border-radius: 10px;
}

.reset span {
  justify-content: center;
}
