.products {
  padding: 30px 50px;
  display: flex;
}

.left {
  flex: 1;
  position: sticky;
  height: 100%;
  top: 50px;
}

.filterItem {
  margin-top: 30px;
  margin-bottom: 30px;
}

.filterItem h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.inputItem {
  margin-bottom: 10px;
}

.inputItem label {
  margin-left: 10px;
}
.inputItem button {
  background-color: #2879fe;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  margin-right: 500px;
  margin-left: 35px;
  margin-bottom: 30px;
}

.right {
  flex: 3;
}

.categoryImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 50px;
}
